@use "../abstracts/config" as *;

footer {
  background-color: $footer-color;
  color: #fff;
  & i {
    font-style: normal;
  }
  & .form {
    width: min(21.875rem, 100%);
    align-self: flex-start;
    &__paragraph {
      color: inherit;
      margin-top: 0.38em;
    }
  }
}

.footer {
  &__item {
    list-style: none;
  }
  &__link {
    color: inherit;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 200%;
    transition: color 0.3s ease-in-out;
    @include element-events {
      color: $blue-1;
    }
  }
  &__brand {
    font-size: 2.25rem;
    font-family: $font-brand;
    font-weight: 800;
    line-height: 3.375rem;
    color: inherit;
  }
  &__icon {
    font-style: normal;
    color: inherit;
    font-size: 1.75rem;
    transition: color 0.3s ease-in-out;
    & + & {
      margin-left: 0.45em;
    }
    @include element-events {
      color: $blue-1;
    }
  }
}

.grid-footer {
  padding: clamp(2rem, 3vw + 1.295625rem, 4rem) 0 7em 0;
  row-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(min(21.25rem, 100%), 1fr));
}

.attribution {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: clamp(0.625rem, 0.38vw + 0.536875rem, 0.875rem);
  line-height: 1.125rem;
  text-align: center;
  padding: 1em;
  & a {
    color: inherit;
    text-decoration: underline;
    font-weight: 700;

    transition: color 0.3s ease-in-out;
    @include element-events {
      color: $blue-1;
    }
  }
}
