@use "../abstracts/config" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(1.125rem, 1.69vw + 0.72875rem, 2.25rem) 0;
  position: relative;
  & .nav-menu.open + &__nav {
    display: block;
  }
  &__brand {
    font-family: $font-brand;
    font-size: clamp(1.5rem, 1.13vw + 1.235625rem, 2.25rem);
    line-height: clamp(2.1875rem, 1.78vw + 1.769375rem, 3.375rem);
    font-weight: 800;
    color: map-get($gray, "1");
  }
  &__nav {
    position: absolute;
    display: none;
    top: 80%;
    width: 100%;
    padding: 1.5em 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  }
  &__list {
    text-align: center;
  }
  &__link {
    color: map-get($gray, "1");
    font-size: clamp(1.125rem, 0.56vw + 0.993125rem, 1.5rem);
    font-weight: 500;
    line-height: 2.25rem;
    font-family: $font-primary;
    transition: opacity 0.5s ease-in-out;
    @include element-events {
      opacity: 0.65;
    }
  }
}
