@use "../abstracts/config" as *;

body {
  font-family: $font-primary;
}

.container {
  &--default {
    width: 93%;
    max-width: 1420px;
  }
  &--small {
    width: 75%;
  }
}

[class*="container--"] {
  margin: 0 auto;
}

[class*="grid"] {
  display: grid;
  gap: 1rem;
}
