@use "../abstracts/config" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
}

.container {
  &--default {
    width: 93%;
    max-width: 1420px;
  }
  &--small {
    width: 75%;
  }
}

[class*="container--"] {
  margin: 0 auto;
}

[class*="grid"] {
  display: grid;
  gap: 1rem;
}

.bg-blue {
  background-color: $blue-1;
}
.bg-green {
  background-color: $green-1;
}

.bg-red {
  background-color: $red-1;
}
