$gray: (
  "1": #333333,
  "2": #4f4f4f,
  "3": #828282,
  "4": #bdbdbd,
  "6": #f2f2f2,
);

$blue-1: #2d9cdb;
$green-1: #27ae60;
$red-1: #eb5757;
$footer-color: #100e1d;

$font-brand: "Heebo", sans-serif;
$font-primary: "Poppins", sans-serif;

$site-ml: clamp(1.5rem, 20.28vw + -3.25375rem, 15rem);
$site-ml-reverse: clamp(1.5rem, -2.25vw + 2.028125rem, 0rem);
@mixin breakpoint-900 {
  @media (min-width: 56.25em) {
    @content;
  }
}

@mixin breakpoint-600 {
  @media (min-width: 37.5em) {
    @content;
  }
}

@mixin pseudo {
  & {
    content: "";
    display: block;
    position: absolute;
  }
}

@mixin element-events {
  &:focus,
  &:hover {
    @content;
  }
}
