@use "./config" as *;

@include breakpoint-600 {
  .nav-menu {
    display: none;
  }
  .header {
    &__nav {
      position: relative;
      display: block;
      padding: 0;
      box-shadow: none;
      width: max-content;
    }
    &__list {
      display: flex;
    }
    &__item + &__item {
      margin-left: clamp(1rem, 3.57vw + 0.16375rem, 3.375rem);
    }
  }
  .grid-samples {
    grid-template-columns: repeat(2, 1fr);
  }
  .team {
    display: flex;
    align-items: center;

    &__wrapper {
      & + & {
        gap: 1.35rem;
      }
    }

    &__col {
      & + & {
        gap: 1.35rem;
      }
    }
  }
}

@include breakpoint-900 {
  .container {
    &--default {
      width: 96%;
    }
    &--medium {
      width: 90%;
    }
  }
  .services {
    &__title {
      margin-left: 0;
    }
  }
  .samples {
    position: relative;
    &__title {
      margin-left: 0;
    }
    &__item {
      &:nth-child(even) {
        transform: translateY(-30%);
      }
    }
    &__more {
      position: absolute;
      right: 0;
      bottom: 1.5rem;
    }
  }
  .grid-samples {
    margin-top: 15%;
    row-gap: 9rem;
    column-gap: 1rem;
  }
}
